{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Create Post{% endblock %}


{% block content %}
<h3 class="title">Create A Post:</h3>
<hr>
<div class="container">
    <form method="post">

        {% csrf_token %}
        <div class="field">
            <div class="control">
                <label>{{form.title.label}}</label>
                {{form.title|add_class:"field input"}}
            </div>
            <div class="field">
                <div class="control">
                    <label>{{form.content.label}}</label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    {{form.content|add_class:"field input"}}
                    {{form.media}}
                </div>
            </div>
        </div>
        <button type="submit" class="button is-success">Create</button>

    </form>
</div>

{% endblock content %}
