{% extends 'base.html' %}

{% block title %}{{post.title}} details{% endblock %}


{% block content %}

<div class="card">
    <div class="card-header">
        <div class="card-header-title">
            <h3 class="title">{{post.title}}</h3>
        </div>
    </div>
    <div class="card-content">
        <p class="hero">{{post.content}}</p>
        <hr>
        <h3><strong>Comments [{{post.comments.all.count}}]</strong> &nbsp; &nbsp; <strong>Likes
                [{{post.likes.all.count}}]</strong>
            &nbsp;
            <hr>
            <form action="{% url 'blog:toggle_like' post.id %}" method="post">
                {% csrf_token %}
                {% if user in post.likes.all %}
                <button type="submit" class="button is-small is-danger">Unlike</button> &nbsp;
                {% else %}
                <button type="submit" class="button is-small is-primary">Like</button> &nbsp;
                {% endif %}
                {% if user == post.user %}
                <a href="{% url 'blog:update_post' post.id %}" class="button is-small is-warning">Update</a> &nbsp;
                <a href="{% url 'blog:delete_post' post.id %}" class="button is-small is-danger">Delete</a>
                {% endif %}
            </form>
        </h3>
    </div>
    {% for comment in post.comments.all %}
    <div class="card-content">
        <p><strong>{{comment.user}}</strong> :-> {{comment.title}} </p>
    </div>
    {% endfor %}
    <div class="card-content">
        <div class="container-fluid">
            <form action="{% url 'blog:comment' post.id %}" class="form" method="POST">
                {% csrf_token %}
                <div class="field">
                    <div class="control">
                        <input class="input" name="content" type="text" placeholder="Add a comment">
                    </div>
                </div>
                <input type="submit" class="button is-primary" value="comment">
            </form>
        </div>
    </div>

</div>
</div>
{% endblock content %}
