{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Update Post{% endblock %}


{% block content %}
<h3 class="title">Update Post:</h3>
<hr>
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.media|safe}}
        <div class="field">
            <div class="control">
                <label>{{form.title.label}}</label>
                {{form.title|add_class:"field input"}}
            </div>
            <div class="field">
                <div class="control">
                    <label>{{form.content.label}}</label>
                    {{form.content|add_class:"field input textarea"}}
                </div>
            </div>
        </div>
        <button type="submit" class="button is-success">Update</button>

    </form>

    {% endblock content %}
