body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.wrapper {
  flex: 1;
}

.navbar-item {
  color: #4a4a4a !important;
}

.django-ckeditor-widget {
  width: 100% !important;
}

.box {
  height: 400px !important;
  width: 400px !important;
  margin: 1rem !important;
  padding: 0.25rem !important;
}